.button {
    -fx-max-width: "Infinity";
    -fx-max-height: "Infinity";
}

.text-field,
.combo-box {
    -fx-max-width: "Infinity";
}

.text-field.field-invalid {
    -fx-text-box-border: red;
}

.smartphone-details #detailsFormatAllowedLabel,
.smartphone-details #detailsFormatAllowed,
.smartphone-details #detailsTypeLabel,
.smartphone-details #detailsType,
.printer-details #detailsFormatAllowedLabel,
.printer-details #detailsFormatAllowed,
.printer-details #detailsOSLabel,
.printer-details #detailsOS {
    visibility: hidden;
}